@use '../../../styles/variables' as *;
@use '../../../styles/mixin' as *;

.contact-footer {
  background-color: $dark-background;
  height: 10vh;
  overflow: hidden;
  position: relative;

  @include desktop {
    height: 17vh;
  }
}
