.landing {
  position: relative;
  overflow: hidden;

  &__author,
  &__periods {
    height: 100vh;
    font-size: 10vw;
  }

  &__author {
    background-color: black;
    color: white;
    padding: 5rem 8rem;
  }

  &__periods {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 40vw;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

  &__period {
    width: 5vw;
    height: 5vw;
    background-color: black;
    border-radius: 50%;
    margin: 0 3rem;
    display: inline-block;
  }
}
