@use '../../styles/mixin' as *;
@use '../../styles/variables' as *;

.landing {
  position: relative;
  overflow: hidden;

  &__author,
  &__periods {
    height: 100vh;
    font-size: 10vw;
  }

  &__author {
    background-color: $dark-background;
    color: $light-background;
    padding: 5rem 8rem;

    @include desktop {
      padding-top: 12rem;
    }
  }

  &__periods {
    @include flex-layout(row, center, center);
    background-color: $light-background;
    font-size: 40vw;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

  &__period {
    width: 5vw;
    height: 5vw;
    background-color: $dark-background;
    border-radius: 50%;
    margin: 0 3rem;
    display: inline-block;
  }

  &__name {
    @include header-typography;

    @include desktop {
      font-size: 16rem;
      font-weight: 400;
      line-height: 13rem;
    }

    @include flex-layout(row, center, center);
  }
}
